body {
    background-color:blanchedalmond;
    margin:0;
}

.top-navigation {
    background-color: cadetblue;
    padding:20px;
    text-align: center;
}

.top-navigation a {
    margin: 20px;
    text-decoration: none;
    color:white;
}

main {
    margin:auto; 
    max-width: 1000px;
    background-color: tomato;
    height: 100vh;
    padding:20px;
}

.imageContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.imageContainer div {
    margin:20px;
}

.imageContainer img {
    width: 100%;
}

h1 {
    color: blue;
}