#frontimage {
    width: 250px; 
}
/*
.imageContainer {
    display: flex;
    gap: 20px;
}

.imageContainer img {
    width: 100%;
}
    */ 

    .imageContainer {
        display: grid;
        grid-template-columns: auto auto auto auto;
    
    }

    .imageContainer img {
        width: 100%;
    }

h1 {
    color: blue;
}